---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="CV">
  <div class="fixed top-[4.5rem] right-[4.5rem]">
    <a class="flex items-center print:hidden" target="_blank" href="/assets/files/martinmark-resume.pdf"> 
      <h1 class="group flex items-center w-max rounded -ml-1.5 py-0.5 px-1.5 border border-slate-400 text-slate-50 hover:bg-slate-600">
        <svg class="mr-2 w-5 h-full text-slate-400 group-hover:text-slate-50" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m12 16 4-5h-3V4h-2v7H8z"></path><path d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z"></path></svg>
        Download PDF
      </h1>
    </a>
  </div>

  <div class="bg-slate-600 print:bg-white">
    <div class="flex justify-center w-full">
      <div class="bg-slate-50 shadow-lg w-full p-6 pb-28 xl:pb-6 xl:w-1/2 xl:rounded-sm xl:mt-[4.5rem] xl:mb-28 dark:bg-slate-900 print:bg-white print:shadow-none">
        <div class="block sm:flex items-center mb-3">
          <div class="dark:text-slate-50 mb-1 sm:mb-0">
            <h1 class="text-2xl">Martin Mark</h1>
            <p class="text-slate-600 text-sm dark:text-slate-400">Product Design &amp; Direction</p>  
          </div>  
          <div class="flex items-center ml-auto font-mono font-medium text-slate-600 text-xs dark:text-slate-50">
            <div class="flex items-center mr-6">
              <svg class="w-4 h-full mr-1.5" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z" fill="currentColor"></path></svg>
              <p class="mt-0.5">martin@martinmark.com</p>  
            </div>
            <div class="flex items-center">
              <svg class="w-4 h-full mr-1.5" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M22 12C22 10.6868 21.7413 9.38647 21.2388 8.1731C20.7362 6.95996 19.9997 5.85742 19.0711 4.92896C18.1425 4.00024 17.0401 3.26367 15.8268 2.76123C14.6136 2.25854 13.3132 2 12 2V4C13.0506 4 14.0909 4.20703 15.0615 4.60889C16.0321 5.01099 16.914 5.60034 17.6569 6.34326C18.3997 7.08594 18.989 7.96802 19.391 8.93848C19.7931 9.90918 20 10.9495 20 12H22Z" fill="currentColor"></path><path d="M2 10V5C2 4.44775 2.44772 4 3 4H8C8.55228 4 9 4.44775 9 5V9C9 9.55225 8.55228 10 8 10H6C6 14.4182 9.58173 18 14 18V16C14 15.4478 14.4477 15 15 15H19C19.5523 15 20 15.4478 20 16V21C20 21.5522 19.5523 22 19 22H14C7.37259 22 2 16.6274 2 10Z" fill="currentColor"></path><path d="M17.5433 9.70386C17.8448 10.4319 18 11.2122 18 12H16.2C16.2 11.4485 16.0914 10.9023 15.8803 10.3928C15.6692 9.88306 15.3599 9.42017 14.9698 9.03027C14.5798 8.64014 14.1169 8.33081 13.6073 8.11963C13.0977 7.90869 12.5515 7.80005 12 7.80005V6C12.7879 6 13.5681 6.15527 14.2961 6.45679C15.024 6.7583 15.6855 7.2002 16.2426 7.75732C16.7998 8.31445 17.2418 8.97583 17.5433 9.70386Z" fill="currentColor"></path></svg>
              <p>+1 365-602-2664</p>
            </div>
          </div>
        </div>
        <hr class="border-t border-slate-900 mb-6 dark:border-slate-50">
  
        <div class="mb-6">
          <div class="flex items-center text-xs text-slate-600 uppercase tracking-widest mb-1.5 font-medium font-mono dark:text-slate-400">
            <div class="w-3 border-t border-slate-600 mr-1.5 dark:border-slate-400"></div>
            <p class="mt-0.5">Since 2020</p>
          </div>
          <h2 class="text-xl dark:text-slate-50">Head of Product Design at Hasura</h2>
        </div>
  
        <div class="grid md:grid-cols-12 print:grid-cols-12 gap-12">
          <div class="md:col-span-7 print:col-span-7">
            <div class="flex items-center text-xs text-slate-600 uppercase tracking-widest mb-1.5 font-medium font-mono dark:text-slate-400">
              <div class="w-3 border-t border-slate-600 mr-1.5 dark:border-slate-400"></div>
              <p class="mt-0.5">Formerly</p>
            </div>
  
            <div class="mb-3">
              <p class="dark:text-slate-50">Forma AI</p>
              <div class="flex items-center font-mono font-medium text-slate-600 text-xs dark:text-slate-50">
                <div class="w-3 h-3 mr-1.5 rounded-full border border-slate-600 dark:border-slate-400"></div>
                <p class="mt-0.5">Director, Product</p>
                <p class="ml-auto mt-0.5">2019 - 2020</p>
              </div>
              <ul class="text-sm list-square pl-4 mt-1.5 dark:text-slate-400">
                <li>Led the product team for our compensation optimization and processing platform.</li>
                <li>Re-aligned the company's product roadmap through client interviews and user testing.</li>
                <li>Led efforts for design-based prototyping to validate our upcoming offerings.</li>
                <li>Worked on streamlining processes and creating re-usable technical systems (data integration, task queue, design system).</li>
                <li>Worked on packaging the product for the team's fundraise which led to a $5M Series A.</li>
              </ul>
            </div>
  
            <div class="mb-3">
              <p class="dark:text-slate-50">Rubikloud</p>
              <div class="flex items-center font-mono font-medium text-slate-600 text-xs dark:text-slate-50">
                <div class="w-3 h-3 mr-1.5 rounded-full border border-slate-600 dark:border-slate-400"></div>
                <p class="mt-0.5">UX Director</p>
                <p class="ml-auto mt-0.5">2017 - 2019</p>
              </div>
              <div class="border-l border-slate-600 ml-[0.35rem] h-1.5 dark:border-slate-400"></div>
              <div class="flex items-center font-mono font-medium text-slate-600 text-xs dark:text-slate-50">
                <div class="w-3 h-3 mr-1.5 rounded-full border border-slate-600 dark:border-slate-400"></div>
                <p class="mt-0.5">Senior UX Designer</p>
                <p class="ml-auto mt-0.5">2015 - 2017</p>
              </div>
              <ul class="text-sm list-square pl-4 mt-1.5 dark:text-slate-400">
                <li>Led the UX design team for a retail data science startup.</li>
                <li>Hired and grew the design team while balancing product, engineering, and budget demands.</li>
                <li>Led the buildout of a code-driven style guide and prototyping systems used within the design team.</li>
                <li>Conducted user testing and experimentation with stakeholders to validate designs.</li>
              </ul>
            </div>
  
            <div class="mb-3">
              <p class="dark:text-slate-50">Freelance</p>
              <div class="flex items-center font-mono font-medium text-slate-600 text-xs dark:text-slate-50">
                <div class="w-3 h-3 mr-1.5 rounded-full border border-slate-600 dark:border-slate-400"></div>
                <p class="mt-0.5">Product Designer</p>
                <p class="ml-auto mt-0.5">2013 - 2014</p>
              </div>
              <ul class="text-sm list-square pl-4 mt-1.5 dark:text-slate-400">
                <li>Led the design and development of a B2C e-commerce website in the healthcare space which generated more than $5M ARR.</li>
                <li>Designed new product features for a number of startups such as BreakingData, PlateIQ, and SearchYourCloud.</li>
                <li>Drove agency contracts for StackAdapt and PaintNite's marketing sites.</li>
                <li>Completed sales and investment presentation preparation contracts for iHeartRadio and Keek.</li>
              </ul>
            </div>
  
            <div>
              <p class="dark:text-slate-50">ReachStreet</p>
              <div class="flex items-center font-mono font-medium text-slate-600 text-xs dark:text-slate-50">
                <div class="w-3 h-3 mr-1.5 rounded-full border border-slate-600 dark:border-slate-400"></div>
                <p class="mt-0.5">UX Team Lead</p>
                <p class="ml-auto mt-0.5">2011 - 2013</p>
              </div>
              <div class="border-l border-slate-600 ml-[0.35rem] h-1.5 dark:border-slate-400"></div>
              <div class="flex items-center font-mono font-medium text-slate-600 text-xs dark:text-slate-50">
                <div class="w-3 h-3 mr-1.5 rounded-full border border-slate-600 dark:border-slate-400"></div>
                <p class="mt-0.5">UX Designer</p>
                <p class="ml-auto mt-0.5">2010 - 2011</p>
              </div>
              <ul class="text-sm list-square pl-4 mt-1.5 dark:text-slate-400">
                <li>Led the design team in the production of the company's location-based trivia application.</li>
              </ul>
            </div>
          </div>
  
          <div class="md:col-span-5 print:col-span-5">
            <div class="flex items-center text-xs text-slate-600 uppercase tracking-widest mb-1.5 font-medium font-mono dark:text-slate-400">
              <div class="w-3 border-t border-slate-600 mr-1.5 dark:border-slate-400"></div>
              <p class="mt-0.5">Skills</p>
            </div>
            <div class="mb-6">
              <p class="text-slate-600 text-sm mb-1.5 dark:text-slate-400">Management</p>
              <div class="flex flex-wrap mb-1.5">
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Project Management</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">KPIs &amp; Planning</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Design Ops</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Career Coaching</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Hiring</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Performance Management</p>
              </div> 
  
              <p class="text-slate-600 text-sm mb-1.5 dark:text-slate-400">Design</p>
              <div class="flex flex-wrap mb-1.5">
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Figma</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Axure</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Sketch</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Photoshop</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">User Interviews</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Analytics</p>
              </div> 
  
              <p class="text-slate-600 text-sm mb-1.5 dark:text-slate-400">Code</p>
              <div class="flex flex-wrap mb-1.5">
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">HTML / CSS</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">JS</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Tailwind</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">AlpineJS</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Svelte</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Python</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Git</p>
                <p class="flex items-center rounded-sm bg-slate-200 h-7 px-2 text-sm w-max mr-1.5 mb-1.5 dark:text-slate-50 dark:bg-slate-700">Wordpress</p>
              </div>
            </div>
  
            <div class="flex items-center text-xs text-slate-600 uppercase tracking-widest mb-1.5 -mt-1.5 font-medium font-mono dark:text-slate-400">
              <div class="w-3 border-t border-slate-600 mr-1.5 dark:border-slate-400"></div>
              <p class="mt-0.5">Extracurriculars</p>
            </div>
  
            <!-- <div class="mb-3">
              <p class="dark:text-slate-50">HasuraCon '22 MC</p>
              <div class="flex items-center font-mono font-medium text-xs mt-0.5 dark:text-slate-50">
                <p class="">Hasura</p>
                <p class="ml-auto">2022</p>
              </div>
            </div> -->
  
            <div class="mb-3">
              <p class="dark:text-slate-50">Method and system for generation of adjustable automated forecasts for&nbsp;a&nbsp;promotion</p>
              <div class="flex items-center font-mono font-medium text-xs mt-0.5 dark:text-slate-50">
                <p class="">Rubikloud, Patent Co-Author</p>
                <p class="ml-auto">2018</p>
              </div>
            </div>
  
            <div class="mb-6">
              <p class="dark:text-slate-50">Advanced Data Visualization (DS008)</p>
              <div class="flex items-center font-mono font-medium text-xs mt-0.5 dark:text-slate-50">
                <p class="">Toronto Metropolitan University</p>
                <p class="ml-auto">2017/18</p>
              </div>
              <p class="text-slate-600 text-sm mt-1.5 dark:text-slate-400"> 
                Guest speaker: data visualization in the&nbsp;enterprise
              </p>
            </div>
  
            <div class="flex items-center text-xs text-slate-600 uppercase tracking-widest mb-1.5 font-medium font-mono dark:text-slate-400">
              <div class="w-3 border-t border-slate-600 mr-1.5 dark:border-slate-400"></div>
              <p class="mt-0.5">Other Work</p>
            </div>
            <ul class="text-sm list-square pl-4 mt-1.5 dark:text-slate-400">
              <li>2 years of implementation plan, workflow documentation, and QA for ThreePointTurn and TRO Maintenance Management</li>
              <li>1.5 years of onsite contract cabling, networking, workstation, and MS Server support for PC&nbsp;Mechanix</li>
            </ul>
  
          </div>
        </div>  
      </div>
    </div>  
  </div>
</BaseLayout>