---
import BaseLayout from "../layouts/BaseLayout.astro";
const getPosts = await Astro.glob('./journal/*.md');
---

<BaseLayout title="Work" emoji="🎨" description="A sampling of some of my product design and user experience work, and a history of where I've worked and what I've done over the course of my career.">
  <div class="p-6">
    <div class="flex p-12">
      <div>
        <a class="flex items-center" href="/"> 
          <h1 class="group flex items-center w-max rounded -ml-1.5 py-0.5 px-1.5 dark:text-slate-50 hover:bg-slate-200 dark:hover:bg-slate-600">
            Martin Mark
            <svg class="ml-1.5 w-3.5 text-slate-400 group-hover:text-slate-900 dark:group-hover:text-slate-50" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M946.5 505L534.6 93.4a31.93 31.93 0 0 0-45.2 0L77.5 505c-12 12-18.8 28.3-18.8 45.3 0 35.3 28.7 64 64 64h43.4V908c0 17.7 14.3 32 32 32H448V716h112v224h265.9c17.7 0 32-14.3 32-32V614.3h43.4c17 0 33.3-6.7 45.3-18.8 24.9-25 24.9-65.5-.1-90.5z"></path></svg>
          </h1>
        </a>
        <p class="hidden sm:block text-slate-600 text-sm dark:text-slate-400">Product Design & Direction</p>
        <p class="block sm:hidden text-slate-600 text-sm dark:text-slate-400">martin@martinmark.com</p>
      </div>
      <div class="ml-auto">
        <div class="hidden sm:flex items-center text-xs text-slate-600 uppercase tracking-widest font-medium font-mono dark:text-slate-400">
          <div class="w-3 border-t border-slate-600 mr-1.5 dark:border-slate-300"></div>
          <p class="mt-0.5">martin@martinmark.com</p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-6">
    <div class="p-12">
      <h1 class="flex text-3xl sm:text-5xl leading-tight dark:text-slate-50">
        <span>Pixels</span>
        <span class="line-through mx-1.5 text-slate-300 dark:text-slate-600">pushed</span>
        <span>pulled</span>
        <span>.</span>
      </h1>
    </div>
  </div>

  <div class="mx-auto max-w-7xl">
    {getPosts.map(post => 
      <li>{post.frontmatter.title}</li>
    )}  
  </div>
</BaseLayout>